* {
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro", "Material Design Icons Desktop, Regular", "Iosevka Nerd Font Mono";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#tags {
	background-color: #000000;
	margin: 5px;
	margin-left: 10px;
        margin-bottom: 0px;
	border-radius: 20px;
}
#tags button {
    padding: 5px 10px;
    color: #c0caf5;
}

#tags button.focused {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 20px;
}

#tags button:hover {
	background-color: #c0caf5;
	color: #c0caf5;
	border-radius: 20px;
}

 #custom-space, #tray, #clock, #battery {
	background-color: #000000;
	padding: 0px 10px;
	margin: 5px 0px;
        margin-bottom: 0px;
}

#clock {
    color: #7dcfff;
    padding: 0px 0px;
    border-radius: 20px 20px 20px 20px;
    padding-left: 9px;
    padding-right: 9px;
}

#battery {
    color: #9ece6a;
    border-radius: 0px 20px 20px 0px;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    color: #8b0000;
}


#network{
	background-color: #000000;
	color: #f7768e;
	margin: 5px 0px;
	padding: 0px 5px;
	border-radius: 20px 0px 0px 20px;
        margin-bottom: 0px;
        font-size: 18px;
}

#pulseaudio {
	background-color: #000000;
	padding: 0px 0px;
	margin: 5px 0px;
        margin-bottom: 0px;
	color: #e0af68;
}

#pulseaudio.pulse2 {
        font-size: 18px;
	background-color: #000000;
	margin: 5px 0px;
	padding-left: 5px;
	padding-right: 0px;
        margin-bottom: 0px;
	color: #e0af68;
}

#tray {
  font-size: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  padding-right: 0;
}

#tray menu{
  background-color: #1E222A;
  border-radius: 7px;
  color: #B7B5B4;
}

#custom-space {
  font-size: 0px;
  border-radius: 0px 20px 20px 0px;
  margin-right: 10px;
}
